# Ignore everything
/*

# Don't ignore the .gitignore file itself
!.gitignore

# Re-include the specific directories
!/alacritty/
!/fish/
!/hypr/
!/nvim/
!/nvim_custom/
!/rofi/
!/waybar/

!/alacritty/**/*
!/fish/**/*
!/hypr/**/*
!/nvim/**/*
!/nvim_custom/**/*
!/rofi/**/*
!/waybar/**/*
