* {
	font-size: 13px;
	font-family: "FiraCode Nerd Font Propo";
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 8px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: 1px solid #1a1a1a;
	padding: 0 3px;
}
#workspaces button.active {
    color: @color9;
    border: 1px solid rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 6px;
}

#tray {
	padding: 0 12px;
}
