* {
    border: none;
    font-family: "Firacode Nerd Font Propo", "SF Pro Display";
    font-size: 13px;

    /* Important */
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
    margin-right: 10px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode,
#battery,
#pulseaudio,
#bluetooth,
#tray {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery {
    background: transparent;
    color: white;
    margin-right: 10px;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}